.center{
  align-self: center;
}

.fas{
  font-size: 25px;
}


.blue-color {
  color: #1673cd;
}

.green-color {
  color: #008000;
}

.red-color {
  color: darkred ;
}
.yellow-color {
  color: orange;
}

.top-corner {
  position:absolute;
  top:27px;
  right: 185px;
}

.active-row {
  cursor: pointer;
}

a.cursor-pointer {
  cursor: pointer;
}
