.center{
  align-self: center;
}

.fas{
  font-size: 25px;
}


.blue-color {
  color: #1673cd;
}

.green-color {
  color: #008000;
}

.red-color {
  color: darkred ;
}
.yellow-color {
  color: orange;
}
